
<%- include('../partials/header.ejs') %>

<div class="main">
    <span>
        <p>Welcome to the To-Do App</p>
        <a href="todos" role="button">Proceed</a>
    </span>
</div>

<%- include('../partials/footer.ejs') %>    

